@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Roboto', sans-serif;
}

.swiper-button-next,
.swiper-button-prev {
    color: white !important;
    background-color: rgba(0, 0, 0, 0.5);

}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 20px !important;
    padding: 10px;

}

.active {
    color: #2563EB;
}

.banner1,
.banner2,
.banner3,
.banner4 {
    width: 100%;
    height: 550px;
}



.banner1::before {
    content: '';
    position: absolute;
    background: url('https://i.ibb.co/SPH372R/iron-man-ge70505e17-1920.jpg');
    background-position: top center;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: -100;
    filter: brightness(0.4);
    opacity: 0.8;
}

.banner2::before {
    content: '';
    position: absolute;
    background: url('https://i.ibb.co/FJtKXct/0xv62x8v1r561.jpg');
    background-position: top top;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: -100;
    filter: brightness(0.4);
    opacity: 0.8;
}

.banner3::before {
    content: '';
    position: absolute;
    background: url('https://i.ibb.co/mvttR6m/storm-troopers-g32ec9beb0-1920.jpg');
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: -100;
    filter: brightness(0.4);
    opacity: 0.8;
}

.banner4::before {
    content: '';
    position: absolute;
    background: url('https://i.ibb.co/tq8NbB0/51322-LEGO.png');
    background-position: top center;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: -100;
    filter: brightness(0.4);
    opacity: 0.8;
}

.headerBanner {
    position: relative;
}

.headerBanner::before {
    content: '';
    position: absolute;
    /* background: url('https://i.ibb.co/J2xB1bZ/captain-america-ga7167802e-1920.jpg'); */
    background: url('https://i.ibb.co/FJtKXct/0xv62x8v1r561.jpg');
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: -100;
    filter: brightness(0.4);
    opacity: 0.9;
    border-radius: 10px;
}

.offer:hover img {
    transition: all .5s ease;
    transform: scale(1.1)
}

/* tabs  */


.custom-tab-list {
    display: flex;
    /* justify-content: flex-start; */
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #ddd;
    flex-wrap: wrap;
}

.custom-tab {
    flex: 1 0 auto;
    max-width: 100%;
    padding: 12px 24px;
    color: #555;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease;
}

.custom-tab:hover {
    color: #111;
}

.custom-tab:focus {
    outline: none;
    color: #111;
}

.custom-tab.react-tabs__tab--selected {
    color: #111;
    border-bottom: 2px solid #2563eb;
}

.react-tabs__tab-panel {
    padding: 50px 0px;
    background-color: #fff;
    color: #333;
}

@media (min-width: 768px) {
    .custom-tab-list {
        flex-wrap: nowrap;
    }

    .custom-tab {
        flex: 0 0 auto;
        max-width: none;
    }
}